body, html{
    font-family: 'Source Sans Pro', sans-serif;
    height: 100%;
    width: 100%;
}.navbar a img{
    width:150px;
    height: 50px;
}.one{
    margin-right: 10%;
    width:50%;
}.one .nav-item .nav-link{
    font-size: 1.5rem;
    text-transform: uppercase;
}.second-nav{
    background-color: rgb(15, 14, 14);
}.second-nav a{
    font-family: 'Source Sans Pro', sans-serif;

}.first-frame{
    background-image: url("https://staticctf.akamaized.net/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/54qsIq3bkXFHu4IlEpZwBg/2530ce38e395a52fbcd01dd8672a23a5/header_fc6.png");
    background-size: cover;
    width: 100%;
    height: auto; 
}
.first-frame h2, .first-frame h4{
    font-weight: 700;
}.first-frame h2{
    text-decoration: underline;
    font-size: 5rem;
}.first-frame h4{
    margin-top: -2%;
    text-decoration: overline;
    font-weight: 700;
    font-size: 3rem;
    
}
.first-frame>.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
.content{
    width:40%;
}.trailer .button{
    background-color: rgb(218, 24, 24);
    
}.button:hover{
    background-color: #FFF;
    transition: all 0.5s ease-in;
}
.socials{
    background-color: #000;
   display: flex;
   flex-direction: row;
   justify-content: center;
   width: 100%;
}.socials>i{
    color: #FFF;
    font-size: 2rem;
    margin: 0 1%;
    cursor: pointer;
}.second-frame{
    background-image: url("https://staticctf.akamaized.net/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/1mP5aHQYJI5xw08eD2eV0W/7bc890d58c6bcf5efbe8713f147828ae/banner-webasset.jpg");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
} .content1{
    width: 30%;
}.third-frame{
    background-image: url("https://staticctf.akamaized.net/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/7ad5MGeYDCekqMiS5qRZuK/1005c73ea409e895058d4273d93dcb1a/banner-background_alt.jpg");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}.fourth-frame{
    background-image: url("https://staticctf.akamaized.net/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/7mvJ4k2J80t0WUgPrZWnXP/6938d3e41f36b2a5f16693c1254b9a40/newspaper-background.jpg");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.content2{
    width: 30%;
}.fifth-frame{
    background-image: url("https://staticctf.akamaized.net/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/7BeUpvIFBPCJVOQrmMsfEh/647ed237c7f4eba3d7c5607b85297485/newspaper-background_alt.jpg");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}.sixth-frame{
    background-image: url("https://staticctf.akamaized.net/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/6DS6Ze6Mlglh2JXIPanBPr/7f933944306dbf9720c8fc348dac7309/FC6_Comeback_HiRez_Dani_Female_Final.jpg");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}.seventh-frame{
    background-image: url("https://staticctf.akamaized.net/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/2pb7r6hIhGEIdKFxricbm/c726a96a3b1fd31a71782775e63247c6/FC6_Comeback_HiRez_Dani_Male_Final.jpg");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
}.video-grp{
    display: flex;
    flex-direction: row;
    justify-content: center;
}.vid img{
    height: 100%;
    width: 100%;
    background-size: cover;
    border: 2px solid red;
    box-sizing: border-box;

}.vide img{
    height: 100%;
    width: 100%;
    background-size: cover;
    border: 2px solid red;
    box-sizing: border-box;
}.vido img{
    height: 100%;
    width: 100%;
    background-size: cover;
    border: 2px solid red;
    box-sizing: border-box;
}video{
    width: 100%;
    height: 100%;
}.eigth-frame>p{
text-decoration: overline underline;
padding: 1%;
}.ninth-frame{
    background-image: url("https://static-dm.akamaized.net/far-cry/far-cry-6/prod/ba3ee86d21c483d53a345164417979a8.jpg");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}.caraousel-grp{
    max-width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#slider-container{
    width: 100%;
    
display: flex;
}
.DaniF, .DaniM, .Anton, .Diego,.Juan,.Clara{
    margin: 0 20px;
    width: 350px;
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
   justify-content: flex-end;
}.DaniF p, .DaniM p, .Anton p,.Diego p,.Juan p,.Clara p{
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    box-sizing: border-box;
}
.DaniF{
    background-image: url("https://staticctf.akamaized.net/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/7uzsOtH5NHbcoejZACdGTB/9eede73b5395f6ef0716b3e4fe964f39/fc6-guerillas-dani.jpg");
}.DaniM{
    background-image:url("https://staticctf.akamaized.net/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/4Vgb3NUX6mgnELM6JjOuhj/e3b41d8eda5154bd110fba7377ace167/FC6_Characters_Dani-Male.jpg")
}.Anton{
    background-image: url("https://staticctf.akamaized.net/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/7dyfzmdiPtceFGn6K1t4M4/2730c561c53916f811c189d5c441c6dd/FC6_Characters_Anton.jpg");
}.Diego{
    background-image: url("https://staticctf.akamaized.net/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/2ZAUslASAZ1B7U0xLxNPUh/6757ec7e8b4f51da1c29efc10cc8b633/FC6_Characters_Diego.jpg");
}.Clara{
    background-image: url("https://staticctf.akamaized.net/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/3kUvKcolKKFvLkLLQzopg8/d5e0ed228189a34ab2597100cd183446/FC6_Characters_Clara.jpg");
}.Juan{
    background-image: url("https://staticctf.akamaized.net/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/3aUaX3pzOnLAcM3aS0fMct/70f9dc20947fff3764d1fe0054564c64/FC6_Characters_Juan.jpg");
}
.carousel-caption{
    width:60%;
   margin: auto;
}.carousel-caption h2{
    margin-top: -2%;
   font-size: 2.5rem;
    padding-left: 20%;
}.carousel-caption h1{
    font-size: 4rem;
}.carousel-caption p{
    font-weight: 600;
}.eleventh-frame{
    background-image: url("https://staticctf.akamaized.net/J3yJr34U2pZ2Ieem48Dwy9uqj5PNUQTn/7CyvoqPQvEaruIh33C3Mt7/d8825f2dfb90ee64b451ae30ee78794d/FC6_SeasonPass_Keyart_desktop.jpg");
    height: 100%;
    width: 100%;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}.seasonpass{
    width: 35%;
    padding: 2%;
    margin-left: 5%;
}.seasonpass h1{
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    box-sizing: border-box;
    font-weight: 800;
    font-family: 'Source Sans Pro', sans-serif;
}.twelevth-frame{
    background-image: url("https://static-dm.akamaized.net/far-cry/far-cry-6/prod/c3ad5e8373cdf41025fdbb5f5b40cbbf.jpg");
    height: auto;
    width: 100%;
    background-size: cover;
    position: relative;
}.twelevth-frame .h1{
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    box-sizing: border-box;
    font-size: 4rem;
    font-weight: 800;
    font-family: 'Source Sans Pro', sans-serif;
}.twelevth-frame .fire{
    padding: 1%;
    border-left: 2px solid white;
    box-sizing: border-box;
    width:80px;
    height: 80px;
}.twelevth-frame .lead-footer{
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    box-sizing: border-box;
}.card-group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.news{
    transform: rotate(2deg);
}.news:hover{
    transform: rotate(-4deg);
    transition: all 0.7s ;
}.socials1 {
    background-color: #000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;   
}.socials1>div>i{
    color: #FFF;
    font-size: 2rem;
    margin: 0 1%;
    cursor: pointer;
}.socials1>div{
    width:50%;
}

.global-footer{
    display: flex;
    flex-direction: row;
    }  .ubi-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 3%;
    }.ubi-links{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
    }
    .ubi-legal{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
    }
    .mirage-footer{
        background-color: rgb(33, 32, 32);;
        width: 100%;
        padding: 3%;
    }.mirage-content{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }.mirage-studio{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }.mirage-plat{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left:2%;
    }
.global-footer a{
    text-decoration: none;
    color: #FFF;
    line-height: 1.25rem;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 10%;
}
.global-footer a:hover{
    color: #a9cdea;
    opacity: 0.2;
    transition: all 0.5s;
}.mirage-content a{
    font-weight: 200;
}
.lang-esrb{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(33, 32, 32);
    padding: 3%;
}.esrb .image{
    width: 100%;

}

/*Media Queries*/
@media(max-width:768px){
    .first-frame{
        background-position: 22%;
    }
    .first-frame h2{
        font-size: 2rem;
    }.first-frame h4{
        
        text-decoration: overline;
        font-weight: 700;
        font-size: 1rem;
    }.content{
        width: 100%;
        
        padding-top: 80%;
    }.first-frame p{
        font-size: 1rem;
    }.second-frame, .third-frame, .fourth-frame,.fifth-frame{
        align-items: center;
        justify-content: center;
        height: 100%;
        background-position: center;
        
    }.sixth-frame, .seventh-frame{
        align-items: center;
        justify-content: center;
        height: 100%;
        
    }
    .second-frame p, .third-frame p, .fourth-frame p,.fifth-frame p,.sixth-frame p, .seventh-frame p{
        font-size: 1rem;
    }.second-frame h2, .third-frame h2, .fourth-frame h2,.fifth-frame h2,.sixth-frame h2, .seventh-frame h2{
        font-size: 1.5rem;
    }.ninth-frame{
        height:auto;
    }
    #slider-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2% 0;
    }.slide{
        margin: 2% 0;
    }.seasonpass{
        margin-top: 60%;
        width:90%;
        margin-bottom: 5%;
    }.eleventh-frame{
        height: auto;
        background-position: 75%;
        height: auto;
     
    }.card-group{
      display: flex;
      flex-direction: column;
    }.twelevth-frame .h1{
        border-top: 1px solid white;
    border-bottom: 1px solid white;
    box-sizing: border-box;
    font-size: 2rem;
    font-weight: 800;
    font-family: 'Source Sans Pro', sans-serif;
    }.twelevth-frame .fire{
    border-left: 2px solid white;
    box-sizing: border-box;
    width:40px;
    height: 40px;
    }.global-footer, .mirage-content{
        flex-direction: column;   
    }.socials1>div{
        width:100%;
    }.carousel-caption{
        width:60%;
       margin: auto;
    }.carousel-caption h2{
        margin-top: -1%;
       font-size: 1.5rem;
        padding-left: 20%;

    }.carousel-caption h1{

        font-size: 2rem;
    }.carousel-caption p{
        font-size: 0.5rem;
        font-weight: 600;
    }.carousel-caption h5{
        font-size: 1.5rem;  
    }
}


@media (min-width:768px) and (max-width:1200px){
    .first-frame h2{
        font-size: 3rem;
    }.first-frame h4{
        
        text-decoration: overline;
        font-weight: 700;
        font-size: 1.5rem;
    }.content{
        width: 100%;
        
        padding-top: 60%;
    }.first-frame p{
        font-size: 1.5rem;
    }.second-frame, .third-frame, .fourth-frame,.fifth-frame{
        align-items: center;
        justify-content: center;
        height: 100%;
        background-position: center;
        
    }.sixth-frame, .seventh-frame{
        align-items: center;
        justify-content: center;
        height: 100%;
        
    }.second-frame p, .third-frame p, .fourth-frame p,.fifth-frame p,.sixth-frame p, .seventh-frame p{
        font-size: 2rem;
    }.second-frame h2, .third-frame h2, .fourth-frame h2,.fifth-frame h2,.sixth-frame h2, .seventh-frame h2{
        font-size: 2.5rem;
    }.ninth-frame{
        height:auto;
    }
    #slider-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2% 0;
    }.slide{
        margin: 2% 0;
    }.seasonpass{
        margin-top: 60%;
        width:90%;
        margin-bottom: 5%;
    }.eleventh-frame{
        height: auto;
        background-position: center;
      
    }.card-group{
      display: flex;
      flex-direction: column;
    }.twelevth-frame .h1{
        border-top: 2px solid white;
    border-bottom: 2px solid white;
    box-sizing: border-box;
    font-size: 3rem;
    font-weight: 800;
    font-family: 'Source Sans Pro', sans-serif;
    }.twelevth-frame .fire{
    border-left: 2px solid white;
    box-sizing: border-box;
    width:60px;
    height: 60px;
    }.global-footer, .mirage-content{
        flex-direction: column;   
    }.socials1>div{
        width:100%;
    }
}

@media(max-width:435px){
    .second-frame h2, .third-frame h2, .fourth-frame h2, .fifth-frame h2,.sixth-frame h2,.seventh-frame h2,.eigth-frame h2{
        font-size: 1rem;
    }
}

@media(min-width:1920px){
    #slider-container{
        flex-grow: 10;
        justify-content: space-between;
    }.first-frame{
        height: auto;
       
    }
    .first-frame h2  {
       font-size: 7rem;
    }.first-frame p{
       font-size: 2rem;
    }.fifth-frame h4{
        font-size: 5rem;
    }.first-frame img{
        width: 75% !important;
    }.first-frame>.container{
        display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    }
}
